<!-- translate this -->
<p-dialog
  #dialog
  [header]="modalTitle"
  [modal]="true"
  [(visible)]="visible"
  [closeOnEscape]="modalClosable()"
  [closable]="modalClosable()"
  (onHide)="close()"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [contentStyleClass]="contentStyleClass()"
  [style]="{
    width: '50vw',
    transform: 'none',
  }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="maximize()"
  (onShow)="autoMaximize() ? dialog.maximize() : null"
>
  <div
    [ngClass]="{
      'flex flex-row': !!helperComponentRef,
    }"
  >
    <ng-container #helperSpot></ng-container>
    <ng-container #spot></ng-container>
  </div>
</p-dialog>
