<ng-container *transloco="let t">
  <form [formGroup]="datePickerForm">
    <p-card>
      <div class="pr-4.5 pb-4.5 pl-4.5">
        <div
          class="flex w-full flex-col md:flex-row md:items-center md:justify-between"
        >
          <h1 class="mb-3 font-bold md:mb-0">Calendario</h1>
          <p-float-label variant="in">
            <p-datepicker
              size="large"
              inputId="selectedDate"
              formControlName="selectedDate"
            />
            <label for="selectedDate">Fecha</label>
          </p-float-label>
        </div>
        <div class="mt-6">
          <p-divider></p-divider>
        </div>
        <div class="mt-4 pt-4.5">
          <app-calendar-table></app-calendar-table>
        </div>
      </div>
    </p-card>

    <p-card>
      <div class="pr-4.5 pb-4.5 pl-4.5">
        <h1 class="mt-3 mb-3 font-bold">Información del día</h1>
        <p-divider></p-divider>
        <div class="flex flex-col gap-6 md:flex-row">
          <app-swapper class="mt-6">
            <ng-template #headerContent>{{
              t(
                "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
              )
            }}</ng-template>
            <ng-template #firstComponent>
              <p-floatlabel class="w-full" variant="in">
                <textarea
                  formControlName="project"
                  [ngModel]="
                    this.datePickerForm.controls.project.value | sanitizeHTML
                  "
                  class="w-full"
                  pTextarea
                  [autoResize]="true"
                  noSuggest
                ></textarea>
                <label for="in_label">{{
                  t(
                    "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                  )
                }}</label>
              </p-floatlabel>
            </ng-template>
            <ng-template #secondComponent>
              <app-text-editor
                formControlName="project"
                class="w-full"
              ></app-text-editor>
            </ng-template>
          </app-swapper>
          <app-swapper class="mt-6">
            <ng-template #headerContent>{{
              t(
                "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
              )
            }}</ng-template>
            <ng-template #firstComponent>
              <p-floatlabel class="w-full" variant="in">
                <textarea
                  formControlName="proposals"
                  [ngModel]="
                    this.datePickerForm.controls.proposals.value | sanitizeHTML
                  "
                  class="w-full"
                  pTextarea
                  [autoResize]="true"
                  noSuggest
                ></textarea>
                <label for="in_label">{{
                  t(
                    "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                  )
                }}</label>
              </p-floatlabel>
            </ng-template>
            <ng-template #secondComponent>
              <app-text-editor
                formControlName="proposals"
                class="w-full"
              ></app-text-editor>
            </ng-template>
          </app-swapper>
        </div>
        <div class="flex">
          <app-swapper class="mt-6">
            <ng-template #headerContent>{{
              t(
                "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
              )
            }}</ng-template>
            <ng-template #firstComponent>
              <p-floatlabel class="w-full" variant="in">
                <textarea
                  formControlName="project"
                  [ngModel]="
                    this.datePickerForm.controls.project.value | sanitizeHTML
                  "
                  class="w-full"
                  pTextarea
                  [autoResize]="true"
                  noSuggest
                ></textarea>
                <label for="in_label">{{
                  t(
                    "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                  )
                }}</label>
              </p-floatlabel>
            </ng-template>
            <ng-template #secondComponent>
              <app-text-editor
                formControlName="project"
                class="w-full"
              ></app-text-editor>
            </ng-template>
          </app-swapper>
        </div>
        <div class="flex flex-col gap-6 md:flex-row">
          <app-swapper class="mt-6">
            <ng-template #headerContent>{{
              t(
                "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
              )
            }}</ng-template>
            <ng-template #firstComponent>
              <p-floatlabel class="w-full" variant="in">
                <textarea
                  formControlName="project"
                  [ngModel]="
                    this.datePickerForm.controls.project.value | sanitizeHTML
                  "
                  class="w-full"
                  pTextarea
                  [autoResize]="true"
                  noSuggest
                ></textarea>
                <label for="in_label">{{
                  t(
                    "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                  )
                }}</label>
              </p-floatlabel>
            </ng-template>
            <ng-template #secondComponent>
              <app-text-editor
                formControlName="project"
                class="w-full"
              ></app-text-editor>
            </ng-template>
          </app-swapper>
          <app-swapper class="mt-6">
            <ng-template #headerContent>{{
              t(
                "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
              )
            }}</ng-template>
            <ng-template #firstComponent>
              <p-floatlabel class="w-full" variant="in">
                <textarea
                  formControlName="proposals"
                  [ngModel]="
                    this.datePickerForm.controls.proposals.value | sanitizeHTML
                  "
                  class="w-full"
                  pTextarea
                  [autoResize]="true"
                  noSuggest
                ></textarea>
                <label for="in_label">{{
                  t(
                    "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                  )
                }}</label>
              </p-floatlabel>
            </ng-template>
            <ng-template #secondComponent>
              <app-text-editor
                formControlName="proposals"
                class="w-full"
              ></app-text-editor>
            </ng-template>
          </app-swapper>
        </div>
      </div>
      <div class="flex w-full items-center justify-end-safe pr-4.5 pl-4.5">
        <p-button
          [label]="'Save!'"
          severity="success"
          styleClass="w-32"
        ></p-button>
      </div>
    </p-card>
  </form>
</ng-container>
