<ng-container *transloco="let t">
  <form [formGroup]="userConfigForm" (submit)="updateUserConfig()">
    <div class="flex items-center justify-center">
      <app-user-image id="photo" formControlName="photo"></app-user-image>
    </div>
    <div class="mt-8 flex items-center">
      <span class="w-full">{{
        t("SHARED_MODALS.USER_CONFIG.FORM.USERNAME")
      }}</span>
      <p-float-label class="w-full" variant="in">
        <input
          class="w-full"
          pInputText
          id="username"
          formControlName="username"
        />
        <label for="username">{{ t("LOGIN_PAGE.USERNAME") }}</label>
      </p-float-label>
    </div>
    <div class="mt-8 flex items-center">
      <span class="w-full">{{
        t("SHARED_MODALS.USER_CONFIG.FORM.APP_THEME")
      }}</span>
      <app-toggle-theme
        formControlName="toggleTheme"
        class="mt-2"
      ></app-toggle-theme>
    </div>
    <div class="mt-12 flex items-center justify-between">
      <p-button
        (onClick)="closeSession()"
        severity="danger"
        [label]="t('SHARED_MODALS.USER_CONFIG.FORM.ACTIONS.LOG_OUT')"
      />
      <p-button
        severity="success"
        type="submit"
        [loading]="this.userStore.isLoading()"
        [disabled]="userConfigForm.invalid || !userConfigForm.dirty"
        [label]="t('SHARED_MODALS.USER_CONFIG.FORM.ACTIONS.SAVE')"
      />
    </div>
  </form>
</ng-container>
