<ng-container *transloco="let t">
  <form [formGroup]="newUnityForm" (submit)="createNewUnit()">
    <div class="flex flex-col items-center justify-center">
      <p-float-label class="w-full" variant="in">
        <input
          class="w-full"
          pInputText
          id="unityName"
          formControlName="unityName"
          noSuggest
        />
        <label for="unityName">{{
          t("DASHBOARD.RECORDS.MODALS.CREATE_NEW_UNIT.FORM.UNIT_NAME")
        }}</label>
      </p-float-label>
      <app-swapper
        class="mt-6"
        [headerText]="
          t('DASHBOARD.RECORDS.MODALS.CREATE_NEW_UNIT.FORM.SUMMARY')
        "
      >
        <ng-template #firstComponent>
          <p-floatlabel class="w-full" variant="in">
            <textarea
              formControlName="summary"
              [ngModel]="
                this.newUnityForm.controls.summary.value | sanitizeHTML
              "
              class="w-full"
              pTextarea
              [autoResize]="true"
              noSuggest
            ></textarea>
            <label for="in_label">{{
              t("DASHBOARD.RECORDS.MODALS.CREATE_NEW_UNIT.FORM.SUMMARY")
            }}</label>
          </p-floatlabel>
        </ng-template>
        <ng-template #secondComponent>
          <app-text-editor
            formControlName="summary"
            class="w-full"
          ></app-text-editor>
        </ng-template>
      </app-swapper>
    </div>
    <div class="mt-16 flex items-center justify-end gap-4">
      <p-button
        (onClick)="close()"
        [disabled]="unityStore.isLoading()"
        severity="secondary"
        [label]="t('DASHBOARD.RECORDS.MODALS.CREATE_NEW_UNIT.ACTIONS.CLOSE')"
      />
      <p-button
        [loading]="unityStore.isLoading()"
        severity="primary"
        type="submit"
        [disabled]="newUnityForm.invalid || !newUnityForm.dirty"
        [label]="t('DASHBOARD.RECORDS.MODALS.CREATE_NEW_UNIT.ACTIONS.SAVE')"
      />
    </div>
  </form>
</ng-container>
