<ng-container *transloco="let t">
  <p-table [value]="calendarInfo()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>
          {{ t("DASHBOARD.CALENDAR.COMPONENTS.CALENDAR_TABLE.HEADERS.HOURS") }}
        </th>
        <th>
          {{ t("DASHBOARD.CALENDAR.COMPONENTS.CALENDAR_TABLE.HEADERS.MONDAY") }}
        </th>
        <th>
          {{
            t("DASHBOARD.CALENDAR.COMPONENTS.CALENDAR_TABLE.HEADERS.TUESDAY")
          }}
        </th>
        <th>
          {{
            t("DASHBOARD.CALENDAR.COMPONENTS.CALENDAR_TABLE.HEADERS.WEDNESDAY")
          }}
        </th>
        <th>
          {{
            t("DASHBOARD.CALENDAR.COMPONENTS.CALENDAR_TABLE.HEADERS.THURSDAY")
          }}
        </th>
        <th>
          {{ t("DASHBOARD.CALENDAR.COMPONENTS.CALENDAR_TABLE.HEADERS.FRIDAY") }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-hour let-editing="editing">
      <tr>
        <td>
          {{ hour.value }}
        </td>
        <td [pEditableColumn]="hour.monday.value" pEditableColumnField="value">
          <p-cellEditor>
            <ng-template #input>
              <div class="flex flex-col gap-3">
                @if (hour.monday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.monday.tag }}
                  </p-chip>
                }
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="hour.monday.value"
                  (ngModelChange)="emitNewChanges()"
                />
              </div>
            </ng-template>
            <ng-template #output>
              <div class="flex flex-col">
                @if (hour.monday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.monday.tag }}
                  </p-chip>
                }
                <div class="pl-3">
                  {{ hour.monday.value }}
                </div>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="hour.tuesday.value" pEditableColumnField="value">
          <p-cellEditor>
            <ng-template #input>
              <div class="flex flex-col gap-3">
                @if (hour.tuesday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.tuesday.tag }}
                  </p-chip>
                }
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="hour.tuesday.value"
                  (ngModelChange)="emitNewChanges()"
                />
              </div>
            </ng-template>
            <ng-template #output>
              <div class="flex flex-col">
                @if (hour.tuesday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.tuesday.tag }}
                  </p-chip>
                }
                <div class="pl-3">
                  {{ hour.tuesday.value }}
                </div>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td
          [pEditableColumn]="hour.wednesday.value"
          pEditableColumnField="value"
        >
          <p-cellEditor>
            <ng-template #input>
              <div class="flex flex-col gap-3">
                @if (hour.wednesday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.wednesday.tag }}
                  </p-chip>
                }
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="hour.wednesday.value"
                  (ngModelChange)="emitNewChanges()"
                />
              </div>
            </ng-template>
            <ng-template #output>
              <div class="flex flex-col">
                @if (hour.wednesday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.wednesday.tag }}
                  </p-chip>
                }
                <div class="pl-3">
                  {{ hour.wednesday.value }}
                </div>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td
          [pEditableColumn]="hour.thursday.value"
          pEditableColumnField="value"
        >
          <p-cellEditor>
            <ng-template #input>
              <div class="flex flex-col gap-3">
                @if (hour.thursday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.thursday.tag }}
                  </p-chip>
                }
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="hour.thursday.value"
                  (ngModelChange)="emitNewChanges()"
                />
              </div>
            </ng-template>
            <ng-template #output>
              <div class="flex flex-col">
                @if (hour.thursday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.thursday.tag }}
                  </p-chip>
                }
                <div class="pl-3">
                  {{ hour.thursday.value }}
                </div>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="hour.friday.value" pEditableColumnField="value">
          <p-cellEditor>
            <ng-template #input>
              <div class="flex flex-col gap-3">
                @if (hour.friday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.friday.tag }}
                  </p-chip>
                }
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="hour.friday.value"
                  (ngModelChange)="emitNewChanges()"
                />
              </div>
            </ng-template>
            <ng-template #output>
              <div class="flex flex-col">
                @if (hour.friday.tag) {
                  <p-chip class="w-fit">
                    {{ hour.friday.tag }}
                  </p-chip>
                }
                <div class="pl-3">
                  {{ hour.friday.value }}
                </div>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
<router-outlet name="calendarAddInfo"></router-outlet>
