<ng-container *transloco="let t">
  <div class="flex h-full items-center justify-center">
    <p-card>
      <div class="mb-6 flex items-center justify-between">
        <h1 class="text-3xl">{{ t("LOGIN_PAGE.TITLE") }}</h1>
        <app-toggle-theme class="mt-2"></app-toggle-theme>
      </div>
      <div [formGroup]="userForm">
        <div class="mb-4 flex items-center justify-center">
          <p-float-label variant="in">
            <input pInputText id="username" formControlName="username" />
            <label for="username">{{ t("LOGIN_PAGE.USERNAME") }}</label>
          </p-float-label>
        </div>
        <div class="mb-8 flex items-center justify-center">
          <p-float-label variant="in">
            <input
              pInputText
              id="password"
              type="password"
              formControlName="password"
            />
            <label for="password">{{ t("LOGIN_PAGE.PASSWORD") }}</label>
          </p-float-label>
        </div>
        <div class="flex flex-col items-center justify-center space-y-4">
          <p-button
            class="w-[100%] lg:w-76"
            (onClick)="logIn()"
            [disabled]="userForm.controls.username.invalid"
            [label]="t('LOGIN_PAGE.LOGIN_BUTTON')"
          />
          <p-button
            class="w-[100%] lg:w-76"
            severity="secondary"
            (onClick)="logIn()"
            [disabled]="userForm.controls.username.invalid"
            [label]="t('LOGIN_PAGE.SIGN_UP_BUTTON')"
          />
        </div>
      </div>
      <p class="flex justify-end pt-4">v{{ version }}</p>
    </p-card>
  </div>
</ng-container>
