<ng-container *transloco="let t">
  <p-menubar [breakpoint]="'64rem'" class="border-none" [model]="model">
    <ng-template #item let-item let-root="root">
      <a
        [routerLink]="item.routerLink"
        [routerLinkActive]="['p-menubar-item-link-active']"
        pRipple
        class="p-menubar-item-link items-center lg:hidden!"
      >
        <i [class]="item.icon"></i>
        <span>{{ t(item.label) }}</span>
        @if (item.shortcut) {
          <span
            class="border-surface bg-emphasis text-muted-color ml-auto rounded border p-1 text-xs"
            >{{ item.shortcut }}</span
          >
        }
        @if (item.items) {
          <i
            [ngClass]="[
              'pi ml-auto',
              root ? 'pi-angle-down' : 'pi-angle-right',
            ]"
          ></i>
        }
      </a>
    </ng-template>
    <ng-template #end>
      <div
        (click)="openUserSettings()"
        class="flex cursor-pointer items-center gap-2"
      >
        <span>{{ userStore.user().email }}</span>
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          [style]="{ width: '32px', height: '32px' }"
        />
      </div>
    </ng-template>
  </p-menubar>
</ng-container>
