<div class="flex justify-between" [class.justify-end]="isVisible">
  @if (!isVisible) {
    {{ headerText }}
  }
  <div class="flex justify-end">
    <span
      (click)="setVisibility(!isVisible)"
      class="p-breadcrumb-item-icon pi pb-2"
      [ngClass]="isVisible ? 'pi-wrench' : 'pi-pencil'"
    >
    </span>
  </div>
</div>
@if (isVisible) {
  <ng-container *ngTemplateOutlet="contentFirstComponent()"></ng-container>
} @else {
  <ng-container *ngTemplateOutlet="contentSecondComponent()"></ng-container>
}
