<ng-container *transloco="let t">
  <ng-container [formGroup]="datePickerForm" (ngSubmit)="saveInfo()">
    <div class="pr-4.5 pb-4.5 pl-4.5">
      <h1 class="mt-3 mb-3 font-bold">Información del día</h1>
      <p-divider></p-divider>
      <div class="flex flex-col gap-6 md:flex-row">
        <app-swapper class="mt-6">
          <ng-template #headerContent>{{
            t(
              "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
            )
          }}</ng-template>
          <ng-template #firstComponent>
            <p-floatlabel class="w-full" variant="in">
              <textarea
                formControlName="project"
                [ngModel]="
                  this.datePickerForm.controls.project.value | sanitizeHTML
                "
                class="w-full"
                pTextarea
                [autoResize]="true"
                noSuggest
              ></textarea>
              <label for="in_label">{{
                t(
                  "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                )
              }}</label>
            </p-floatlabel>
          </ng-template>
          <ng-template #secondComponent>
            <app-text-editor
              formControlName="project"
              class="w-full"
            ></app-text-editor>
          </ng-template>
        </app-swapper>
        <app-swapper class="mt-6">
          <ng-template #headerContent>{{
            t(
              "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
            )
          }}</ng-template>
          <ng-template #firstComponent>
            <p-floatlabel class="w-full" variant="in">
              <textarea
                formControlName="proposals"
                [ngModel]="
                  this.datePickerForm.controls.proposals.value | sanitizeHTML
                "
                class="w-full"
                pTextarea
                [autoResize]="true"
                noSuggest
              ></textarea>
              <label for="in_label">{{
                t(
                  "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                )
              }}</label>
            </p-floatlabel>
          </ng-template>
          <ng-template #secondComponent>
            <app-text-editor
              formControlName="proposals"
              class="w-full"
            ></app-text-editor>
          </ng-template>
        </app-swapper>
      </div>
      <div class="flex">
        <app-swapper class="mt-6">
          <ng-template #headerContent>{{
            t(
              "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
            )
          }}</ng-template>
          <ng-template #firstComponent>
            <p-floatlabel class="w-full" variant="in">
              <textarea
                formControlName="materials"
                [ngModel]="
                  this.datePickerForm.controls.materials.value | sanitizeHTML
                "
                class="w-full"
                pTextarea
                [autoResize]="true"
                noSuggest
              ></textarea>
              <label for="in_label">{{
                t(
                  "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                )
              }}</label>
            </p-floatlabel>
          </ng-template>
          <ng-template #secondComponent>
            <app-text-editor
              formControlName="materials"
              class="w-full"
            ></app-text-editor>
          </ng-template>
        </app-swapper>
      </div>
      <div class="flex flex-col gap-6 md:flex-row">
        <app-swapper class="mt-6">
          <ng-template #headerContent>{{
            t(
              "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
            )
          }}</ng-template>
          <ng-template #firstComponent>
            <p-floatlabel class="w-full" variant="in">
              <textarea
                formControlName="weeklyTutorials"
                [ngModel]="
                  this.datePickerForm.controls.weeklyTutorials.value
                    | sanitizeHTML
                "
                class="w-full"
                pTextarea
                [autoResize]="true"
                noSuggest
              ></textarea>
              <label for="in_label">{{
                t(
                  "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                )
              }}</label>
            </p-floatlabel>
          </ng-template>
          <ng-template #secondComponent>
            <app-text-editor
              formControlName="weeklyTutorials"
              class="w-full"
            ></app-text-editor>
          </ng-template>
        </app-swapper>
        <app-swapper class="mt-6">
          <ng-template #headerContent>{{
            t(
              "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
            )
          }}</ng-template>
          <ng-template #firstComponent>
            <p-floatlabel class="w-full" variant="in">
              <textarea
                formControlName="doNotForget"
                [ngModel]="
                  this.datePickerForm.controls.doNotForget.value | sanitizeHTML
                "
                class="w-full"
                pTextarea
                [autoResize]="true"
                noSuggest
              ></textarea>
              <label for="in_label">{{
                t(
                  "DASHBOARD.RECORDS.MODALS.CREATE_NEW_SESSION.FORM.SESSION_ACTIVITIES"
                )
              }}</label>
            </p-floatlabel>
          </ng-template>
          <ng-template #secondComponent>
            <app-text-editor
              formControlName="doNotForget"
              class="w-full"
            ></app-text-editor>
          </ng-template>
        </app-swapper>
      </div>
    </div>
    <div class="flex w-full items-center justify-end-safe pr-4.5 pl-4.5">
      <p-button
        [disabled]="!this.datePickerForm.dirty"
        type="submit"
        [label]="'Save!'"
        severity="success"
        styleClass="w-32"
      ></p-button>
    </div>
  </ng-container>
</ng-container>
